html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(to top,rgba(0,0,0,0.8)70%,rgba(0,0,0,0.8)70%),url("background.jpg");
  background-size: cover; /* Ensures the image covers the entire viewport */
  color: #fff;
  position: relative; /* Needed for the overlay to position correctly */
}
.weather-container {
  background: linear-gradient(to top,rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%),url(landscape.jpg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 70%;
  font-size: 1rem;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #2193b0;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #6dd5ed;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin: 5px 0;
}

.weather-icon {
  margin-top: 10px;
}

#weatherIcon {
  width: 50px;
  height: 50px;
}

#errorMessage {
  color: #ff4d4d;
  font-weight: bold;
  margin-top: 20px;
}

#loading {
  font-size: 1.2rem;
  margin-top: 20px;
}
a{
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {
  .weather-container {
      width: 90%;
      padding: 15px;
  }

  h1 {
      font-size: 1.5rem;
  }

  input {
      width: 60%;
      margin-bottom: 10px;
  }

  button {
      width: 100%;
      margin-top: 10px;
  }

  #weatherIcon {
      width: 40px;
      height: 40px;
  }
}
